<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="policyInjection" type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.Configuration.PolicyInjectionSettings, Microsoft.Practices.EnterpriseLibrary.PolicyInjection" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <policyInjection>
    <policies>
      <add name="logging">
        <matchingRules>
          <add type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.MatchingRules.MemberNameMatchingRule, Microsoft.Practices.EnterpriseLibrary.PolicyInjection"
            name="Member Name Matching Rule">
            <matches>
              <add match="Save" ignoreCase="false" />
            </matches>
          </add>
          <add type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.MatchingRules.TypeMatchingRule, Microsoft.Practices.EnterpriseLibrary.PolicyInjection"
            name="Type Matching Rule">
            <matches>
              <add match="OtherUnitySamples.InterceptableTenantStore" ignoreCase="false" />
            </matches>
          </add>
        </matchingRules>
        <handlers>
          <add logBehavior="BeforeAndAfter" beforeMessage="This is before the method call"
            afterMessage="This is after the method call" includeParameterValues="false" includeCallStack="false"
            includeCallTime="true" priority="0" severity="Information" type="Microsoft.Practices.EnterpriseLibrary.Logging.PolicyInjection.LogCallHandler, Microsoft.Practices.EnterpriseLibrary.PolicyInjection"
            name="Log Call Handler">
            <categories>
              <add name="default" />
            </categories>
          </add>
        </handlers>
      </add>
    </policies>
  </policyInjection>


</configuration>
